/* -------------------------------------------------------------------------------------------------------------------------- */
/* Variables */

$black: black;
$gray: gray;
$white: white;

$navBarHeight: 64px;

/* -------------------------------------------------------------------------------------------------------------------------- */
/* Elements */

button {
  cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------------------------------------- */
/* Vuetify */

/* -------------------------------------------------------------------------------------------------------------------------- */

.view {
  padding: 16px;
  padding-top: 0;
  height: calc(100% - 188px);
}
